<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="franka_arm_ros2_control"
         params="arm_prefix
                 robot_type:='fr3'
                 robot_ip:=''
                 use_fake_hardware:=false
                 fake_sensor_commands:=false
                 gazebo:=false
                 hand:=false
                 gazebo_effort:=false
                 is_async:=false
                 thread_priority:=50
                 emit_gazebo_plugin:=true
                 controllers_yaml">

    <ros2_control name="${arm_prefix}FrankaHardwareInterface" type="system" is_async="${is_async}">
        <hardware>
          <param name="robot_type">${robot_type}</param>
          <xacro:if value="${gazebo}">
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
          </xacro:if>
          <xacro:unless value="${gazebo}">
            <plugin>franka_hardware/FrankaHardwareInterface</plugin>
            <param name="robot_ip">${robot_ip}</param>
          </xacro:unless>
        </hardware>

      <xacro:macro name="configure_joint" params="joint_name initial_position">
        <joint name="${joint_name}">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <state_interface name="position">
              <param name="initial_value">${initial_position}</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:configure_joint joint_name="${arm_prefix}${robot_type}_joint1" initial_position="0.0"/>
      <xacro:configure_joint joint_name="${arm_prefix}${robot_type}_joint2" initial_position="-1.0"/>
      <xacro:configure_joint joint_name="${arm_prefix}${robot_type}_joint3" initial_position="0.0"/>
      <xacro:configure_joint joint_name="${arm_prefix}${robot_type}_joint4" initial_position="-2.5"/>
      <xacro:configure_joint joint_name="${arm_prefix}${robot_type}_joint5" initial_position="0.0"/>
      <xacro:configure_joint joint_name="${arm_prefix}${robot_type}_joint6" initial_position="2.1"/>
      <xacro:configure_joint joint_name="${arm_prefix}${robot_type}_joint7" initial_position="0.0"/>

      <xacro:if value="${gazebo and hand}">
        <xacro:configure_joint joint_name="${arm_prefix}${robot_type}_finger_joint1" initial_position="0.0" />
      </xacro:if>
    </ros2_control>

    <xacro:if value="${gazebo and emit_gazebo_plugin}">
      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>${controllers_yaml}</parameters>
          <use_sim_time>false</use_sim_time>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>