<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3_chess">
  <xacro:arg name="arm_id" default="fr3" />
  <xacro:arg name="gazebo_controllers" default="$(find fr3_chess_bringup)/config/fr3_controllers.yaml" />

  <!-- World link -->
  <link name="world" />

  <!-- Robot on the world -->
  <xacro:include filename="$(find fr3_chess_description)/franka_description/robots/common/franka_robot.xacro"/>
  
  <xacro:franka_robot 
      robot_type="fr3"
      joint_limits="${xacro.load_yaml('$(find fr3_chess_description)/franka_description/robots/fr3/joint_limits.yaml')}"
      inertials="${xacro.load_yaml('$(find fr3_chess_description)/franka_description/robots/fr3/inertials.yaml')}"
      kinematics="${xacro.load_yaml('$(find fr3_chess_description)/franka_description/robots/fr3/kinematics.yaml')}"
      accelerometer_config="${xacro.load_yaml('$(find fr3_chess_description)/franka_description/robots/fr3/accelerometers.yaml')}"
      dynamics="${xacro.load_yaml('$(find fr3_chess_description)/franka_description/robots/fr3/dynamics.yaml')}"
      gazebo="true"
      ros2_control="true"
      hand="true"
      parent="world"
      xyz="0 0 0"
      rpy="0 0 0"
  />

  <!-- Placeholder for the chessboard -->
  <link name="chessboard_link">
    <visual>
      <geometry>
        <box size="0.45 0.45 0.03" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.45 0.45 0.03" />
      </geometry>
    </collision>
  </link>

  <joint name="world_to_chessboard" type="fixed">
    <parent link="world" />
    <child link="chessboard_link" />
    <origin xyz="0.5 0 0.015" rpy="0 0 0" />
  </joint>

</robot>
